<h1 align="center" class="display-4 ">Users</h1>

   
    Search <input type = "text" name="search" [(ngModel)]="searchText" placeholder ="Search for products" />

<table id="table" class="table table-striped text-center" style="width:100%;">
    <thead>
    <tr>
        <th scope="col"><h3>Email</h3></th>
        <th scope="col"><h3>Name</h3></th>
        <th scope="col"><h3>Role</h3></th>
        <th scope="col"><h3>Action</h3></th>
        
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of page?.content | filter:searchText">
        
        <td class="align-middle"><h4>{{user.email}}</h4></td>
        <td class="align-middle"><h4>{{user.name}}</h4></td>
        <td class="align-middle"><h4>{{user.role}}</h4></td>
        <td class="align-middle">
            <button  *ngIf="user.role=='ROLE_CUSTOMER'" (click)=addAdmin(user.email)  class="btn btn-success">Add Admin</button>
            <button  *ngIf="user.role=='ROLE_MANAGER'" (click)=removeAdmin(user.email)  class="btn btn-success">Remove Admin</button>
        </td>

    </tbody>
</table>
<app-pagination [currentPage]="page"></app-pagination>
