<div class="col-md-12 column">
  <ul class="pagination justify-content-end">
      <li class="page-item" *ngIf="currentPage?.number > 0; else prev">
          <a
                  class="page-link"
                  [routerLink]="['./']"
                  [queryParams]="{ page: currentPage?.number, size: currentPage?.size }"
          >Previous</a
          >
    </li>
      <ng-template #prev>
          <li class="page-item  disabled"><a class="page-link">Previous</a></li>
      </ng-template>

      <ng-container *ngFor="let item of counter(currentPage?.totalPages); let i = index">
          <li class="page-item" *ngIf="currentPage && currentPage.number != i; else active">
            <a class="page-link "
                    routerLink="./"
                    [queryParams]="{ page: i + 1, size: currentPage?.size }"
            >{{ i + 1 }}</a
            >
        </li>
          <ng-template #active>
              <li
                      class="page-item active "

              >
                  <button class="page-link " disabled>{{ i + 1 }}</button>
              </li>
          </ng-template>
      </ng-container>

      <li
              class="page-item"
              *ngIf="currentPage?.number + 1 < currentPage?.totalPages; else next"
      >
          <a
                  class="page-link"
                  [routerLink]="['./']"
                  [queryParams]="{
          page: currentPage?.number + 2,
          size: currentPage?.size
        }"
          >Next</a
          >
    </li>
    <ng-template #next>
        <li class="page-item disabled "><a class="page-link">Next</a></li>
    </ng-template>
  </ul>
</div>

<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>ABOUT HOME DECORS</h6>
        <p class="text-justify">By decorating your home, you can also improve the functionality and organization of your living space. When you decorate, you have to clean the space first. This can force you to take a good look at a space and decorate it to work with you and not against you</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="">wall paintings</a></li>
          <li><a href="">wall decors</a></li>
          <li><a href="">clocks</a></li>
          <li><a href="">lightings</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="">About Us</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Contribute</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Queries</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p  class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
     <a href="#">ShopForHome</a>.
        </p>
      </div>
    </div>
  </div>
</footer>


