.logo{
    font-size: 10rem;
    margin-top: 10px;
}
.navbar{
    color:black;
}

.navbar-dark .navbar-nav .nav-link{
    font-size: 1.8rem;
    color: whitesmoke;
    margin-right: 20px;
}

.Nav {
    position:absolute;
    top:0px;
    left:0px;
    width:100%; 
}