<h1 align="center" class="display-4 "><b>Products</b></h1>
<a *ngIf="currentUser?.role == Role.Customer" style="color: inherit"
   routerLink="/seller/product/new" class="float-right mb-3"><i class="fas fa-plus fa-2x">Add</i>
</a>
<h3><button (click)="exportAsXLSX()" class="float-right mb-3">
    <i class="download" aria-hidden="true" style="font-size:10px;color:rgb(251, 0, 255)"></i>Download Report</button></h3>
    <form action="/" method="post" enctype="multipart/form-data">
<input class="form-control" type="file" 
            (change)="onChange($event)">
  </form>
    <button (click)="onUpload()" 
        class="btn btn-success">
        Upload File
    </button>

   
  <!--  Search <input type = "text" name="search" [(ngModel)]="searchText" placeholder ="Enter Some Text To Search" /> -->

<table id="table" class="table table-striped text-center" style="width:100%;">
    <thead>
    <tr>
        <th scope="col"><h3>Photo</h3></th>
        <th scope="col"><h3>Code</h3></th>
        <th scope="col"><h3>Name</h3></th>
        <th scope="col"><h3>Type</h3></th>
        <th scope="col"><h3>Description</h3></th>
        <th scope="col"><h3>Price</h3></th>
        <th scope="col"><h3>Stock</h3></th>
        <th scope="col"><h3>Status</h3></th>
        <th scope="col"><h3>Action</h3></th>
        <th scopr="col"><h3>Mail</h3></th>
    </tr>
    </thead>
    <!--Search by 
    <select ng-model="columns" ng-options="e for e in headers">
        <option value=""></option>
    </select>
    Search <input type = "text" ng-model ="Search[columns]" placeholder ="Enter Some Text To Search" />-->
    <tbody>
    <tr *ngFor="let productInfo of page?.content | filter:searchText">
        <th class="align-middle" scope="row">
            <img height="200px" src="{{productInfo.productIcon}}" alt="{{productInfo.productName}}">
        </th>
        <td class="align-middle"><h4>{{productInfo.productId}}</h4></td>
        <td class="align-middle"><h4>{{productInfo.productName}}</h4></td>
        <td class="align-middle"><h4>{{CategoryType[productInfo.categoryType]}}</h4></td>
        <td class="align-middle"><h4>{{productInfo.productDescription}}</h4></td>
        <td class="align-middle"><h4>{{productInfo.productPrice | currency}}</h4></td>
        <td class="align-middle"><h4>{{productInfo.productStock}}</h4></td>
        <td class="align-middle"><h4>{{ProductStatus[productInfo.productStatus]}}</h4></td>
        <td class="align-middle">
            <a style="display: block" routerLink="/seller/product/{{productInfo.productId}}/edit">
                <h4>Edit</h4></a>

            <a *ngIf="currentUser?.role == Role.Customer" style="display: block"
               (click)="remove(page.content, productInfo.productId)" routerLink="./">
                Remove</a>
        </td>
        <td class="align-middle">
            <button (click)=onSubmit() [disabled]="(productInfo.productStock >10)? true:false" class="btn btn-success"><h4>email</h4></button>
           <!-- <a  [ngClass]="{'isDisabled':'(productInfo.productStock >10)? true:false'}"style="display: block" class="isDisabled"  routerLink="/email">Email</a>-->
        </td>

    </tbody>
</table>
<app-pagination [currentPage]="page"></app-pagination>
